@import url('https://fonts.googleapis.com/css?family=Spectral+SC');


.auth-container {
  background-color: rgb(49, 42, 42);
  color: rgb(255, 156, 16);
  font-family: 'Spectral SC', serif;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.auth-container :visited {
  color:rgb(255, 156, 16);
}
.auth-form {
  border-top: .5vh outset black;
  display: flex;
  align-items: center;
  flex-direction: column;  
  width: 100%;
  height: 100%;
}

.form-input {
  display: flex;
  justify-content: space-around;
  border: .5vh outset black;
  height: 6vh;
  width: 70vw
}

.form-submit {
  -webkit-apperance: none;
  font-family: 'Spectral SC', serif;
  font-size: 2vh;
  margin-top: 2vh;
  height: 5vh;
  width: 30vw;
  color: rgb(0, 9, 80);
  background-color: white;
}
